<!DOCTYPE html>
<!-- source: https://getbootstrap.com/docs/5.0/getting-started/introduction/ -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Concentration Equation</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link th:href="@{/style/style-sheet.css}" rel="stylesheet"/>
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin=""/>
    <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">
    <style>
        body {
            --color-4: rgb(48, 88, 106)!important;
            --color-3: rgb(62, 112, 135)!important;
            --color-2: rgb(90, 142, 168)!important;
            --color-1: rgb(117, 170, 195)!important;
            
            background-color: var(--color-1);
            font-family: "Share Tech Mono", monospace;
            color: white;
        }
        

        /* Added new class for the smaller card */
        .small-card {
            margin: 0.5rem; /* Add some margin for spacing */
            background-color: var(--color-2);
            border-radius: 8px;
        }

        .custom-box {
            margin: 1rem;
            padding: 1rem;
            background-color: var(--color-3);
            border-radius: 8px;
        }

        .custom-box2 {
            margin: 1rem;
            padding: 1rem;
            background-color: var(--color-4);
            border-radius: 8px;
        }

        /* Added style for the interactive rows */
        .interactive-row {
            cursor: pointer;
            padding: 10px;
            margin: 5px 0;
            background-color: var(--color-4);
            border-radius: 8px;
            transition: background-color 0.3s;
            border: 1px solid #3c6275; /* Added border style */
        }

        .interactive-row:hover {
            background-color: rgb(55, 100, 121);
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row p-5">
        <div class="col"> <!-- left column -->
            <!-- https://getbootstrap.com/docs/5.3/layout/grid/#example -->
            <div class="card shadow-lg small-card">
                <div class="custom-box2">
                    <h1 class='text-center'>C = m / V</h1>
                </div>
                <form id="form-concentration-equation" th:action="@{/concentration-equation}"
                        method="POST" th:object="${concentrationEquation}" th:fragment="form">
                    <input th:if="${concentrationEquation.isEmpty}" id="is-empty" type="text" value="true" hidden/>
                    <input th:if="${!concentrationEquation.isEmpty}" id="is-empty" type="text" value="false"
                            hidden/>
                    <div class="custom-box">
                        <h4 for="concentration">Concentration (C)</h4>
                        <div class="row">
                            <div class="col-auto">
                                <input id="concentration" th:field="*{concentration}"class="form-control form-control-lg"
                                        th:classappend="${#fields.hasErrors('${concentrationEquation.concentration}') ? 'is-invalid' : ''}"
                                        aria-describedby="concentration-hint" oninput="inputHandler('concentration')">
                            </div>
                            <div class="col-4">
                                <select disabled class="form-select form-select-lg" id="concentrationUnit" th:field="*{concentrationUnit}" onchange="dropdownHandler()">
                                    <option value="mol/cm^3">mol/cm^3</option>
                                    <option value="mol/dm^3">mol/dm^3</option>
                                    <option value="mol/m^3">mol/m^3</option>
                                </select>
                            </div>
                            <div class="col">
                                <option class="btn btn-light dropdown-toggle btn-lg" type="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">Unit
                                </option>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a class="dropdown-item" href="#"onclick="dropdownHandler('concentrationUnit', 'mol/cm^3')">mol/cm^3</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#" onclick="dropdownHandler('concentrationUnit', 'mol/dm^3')">mol/dm^3</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#"onclick="dropdownHandler('concentrationUnit', 'mol/m^3')">mol/m^3</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="custom-box">
                        <h4 for="moles">Moles (m)</h4>
                        <div class="row">
                            <div class="col-auto">
                                <input id="moles" th:field="*{moles}" class="form-control form-control-lg"
                                        th:classappend="${#fields.hasErrors('${concentrationEquation.moles}') ? 'is-invalid' : ''}"
                                        aria-describedby="moles-hint" oninput="inputHandler('moles')">
                            </div>
                            <div class="col-4">  
                                <select disabled class="form-select form-select-lg" id="moleUnit">
                                    <option value="mol">mol</option>               
                                </select>
                            </div>     
                            <div class="col">
                                <option class="btn btn-light dropdown-toggle btn-lg" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Unit
                                </option>
                                <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item">mol</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="custom-box">
                        <h4 for="volume">Volume (V)</h4>
                        <div class="row">
                            <div class="col-auto">
                                <input id="volume" th:field="*{volume}" class="form-control form-control-lg"
                                        th:classappend="${#fields.hasErrors('${concentrationEquation.volume}') ? 'is-invalid' : ''}"
                                        aria-describedby="volume-hint" oninput="inputHandler('volume')">
                            </div>
                            <div class="col-4">
                                <select disabled class="form-select form-select-lg" id="volumeUnit" th:field="*{volumeUnit}" onchange="dropdownHandler()">
                                    <option value="cm^3">cm^3</option>
                                    <option value="dm^3">dm^3</option>
                                    <option value="m^3">m^3</option>
                                </select>
                            </div>
                            <div class="col">
                                <option class="btn btn-light dropdown-toggle btn-lg" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Unit
                                </option>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a class="dropdown-item" href="#" onclick="dropdownHandler('volumeUnit', 'cm^3')">cm^3</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#" onclick="dropdownHandler('volumeUnit', 'dm^3')">dm^3</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#" onclick="dropdownHandler('volumeUnit', 'm^3')">m^3</a></li>
                                </ul> 
                            </div>
                        </div>
                    </div>
                    <div class="custom-box">
                        <button type="button" id="resetButton"class="btn btn-light btn-lg" onClick="window.location.reload();">Reset</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col"> <!-- Right column -->
            <div class="card shadow-lg small-card">
                <div class="custom-box">
                        <p class='text-center'>C = m / V</p>
                        <p> C: This represents the concentration of the solution and is measured in units such as moles per 
                            cubic decimeter (mol/dm^3) or moles per cubic centimeter (mol/cm^3), depending on the context. </p>
                        <p> m: This represents the number of moles of the solution. It only has one specific unit (mols) 
                            and does not change at all. </p>
                        <p> V: This represents the volume of the solution and is measured in cubic decimeters (dm^3) or any other suitable
                            unit of volume. </p>
                        <p> To use the concentration equation, input the respective units of all variables.
                            To convert them, input the variable first then choose your initial unit and then the desired unit. </p>
                </div>
            </div>
            <div class="card shadow-lg card mt-3 small-card">
                <div class="card-body custom-box">
                    <h4>Other Calculators</h4>
                    <div class="interactive-row" onclick="navigateToCalculator('row1')">Home Page</div>
                    <div class="interactive-row" onclick="navigateToCalculator('row2')">Ideal Gas Equation</div>
                    <div class="interactive-row" onclick="navigateToCalculator('row3')">Calculator 3</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script th:src="@{/script/index.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    function inputHandler(id) {
        var input = document.getElementById(id).value;

        // Make an AJAX request to the server-side endpoint
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            // when we get a response from the controller
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    // update the form to reflect the changed values
                    document.getElementById('form-concentration-equation').innerHTML = xhr.responseText;
                    console.log("[Concentration Equation] Info: Successful update.")
                } else {
                    console.error('[Concentration Equation] Error:', xhr.status, xhr.statusText);
                }
            }
        };

        // trigger our update method in the controller
        xhr.open('PUT', '/concentration-equation?attribute=' + id + '&newValue=' + encodeURI(input), true);
        xhr.send();
    }

    function dropdownHandler(propertyName, value) {
        console.log("[Dropdown Handler] " + propertyName + value);

        // Make an AJAX request to the server-side endpoint
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            // when we get a response from the controller
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    // update the form to reflect the changed values
                    document.getElementById('form-concentration-equation').innerHTML = xhr.responseText;
                    console.log("[Concentration Equation] Info: Successful update.")
                } else {
                    console.error('[Concentration Equation] Error:', xhr.status, xhr.statusText);
                }
            }
        };

        // trigger our update method in the controller
        xhr.open('PUT', '/concentration-equation?attribute=' + propertyName + '&newValue=' + encodeURI(value), true);
        xhr.send();
    }

    function navigateToCalculator(row) {
    if (row === 'row1') {
        // Redirect to the homepage
        window.location.href = 'http://localhost:8080/home-page';
    } else if (row === 'row2'){
        window.location.href = 'http://localhost:8080/ideal-gas-equation'// replace / with links to the other calculators
        // Add your logic to navigate to other calculators based on the row clicked
    } else {
        console.log('Navigate to Calculator:', row);
    }
}
</script>
</body>
</html>
