<!DOCTYPE html>
<!-- source: https://getbootstrap.com/docs/5.0/getting-started/introduction/ -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Concentration Equation</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link th:href="@{/style/style-sheet.css}" rel="stylesheet"/>
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin=""/>
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap" rel="stylesheet"/>
    <!-- Temporary stylesheet replacement since, line-11 ain't working... -->
    <style>
        body {
            background-color: rgb(34, 112, 148);
            font-family: 'Courier Prime', monospace;
        }

        /* Added new class for the smaller card */
        .small-card {
            margin: 0 15px; /* Add some margin for spacing */
        }

        /* Added style for the interactive rows */
        .interactive-row {
            cursor: pointer;
            padding: 10px;
            margin: 5px 0;
            background-color: #ffffff;
            border-radius: 5px;
            transition: background-color 0.3s;
            border: 1px solid #6c757d; /* Added border style */
        }

        .interactive-row:hover {
            background-color: #f0f0f0;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <!-- <h3> Concentration Equation </h3> -->
    <div class="row p-5">
        <div class="col"> <!-- left column -->
            <!-- https://getbootstrap.com/docs/5.3/layout/grid/#example -->
            <div class="card shadow-lg">
                <div class="card-body">
                    <form id="form-concentration-equation" action="#" th:action="@{/concentration-equation}"
                          method="POST" th:object="${concentrationEquation}" th:fragment="form">
                        <input th:if="${concentrationEquation.isEmpty}" id="is-empty" type="text" value="true" hidden/>
                        <input th:if="${!concentrationEquation.isEmpty}" id="is-empty" type="text" value="false"
                               hidden/>
                        <div class="mb-3">
                            <label for="concentration" class="form-label">Concentration (C)</label>
                            <div class="row">
                                <div class="col-auto">
                                    <input id="concentration" th:field="*{concentration}" type="number"
                                           class="form-control" aria-describedby="concentration-hint">
                                </div>
                                <div class="col-auto">
                                    <button class="btn btn-outline-secondary dropdown-toggle" type="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">Dropdown
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li><a class="dropdown-item" href="#">cm^3</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="#">dcm^-3</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="#">thing</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                        <div class="mb-3">
                            <label for="moles" class="form-label">Moles (M)</label>
                            <div class="row">
                                <div class="col-auto">
                                    <input id="moles" th:field="*{moles}" class="form-control"
                                           th:classappend="${#fields.hasErrors('${concentrationEquation.moles}') ? 'is-invalid' : ''}"
                                           aria-describedby="moles-hint" oninput="inputHandler('moles')">
                                </div>
                                <div class="col-auto">
                                    <button class="btn btn-outline-secondary dropdown-toggle" type="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">Dropdown
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li><a class="dropdown-item" href="#">cm^3</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="#">dcm^-3</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="#">thing</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="volume" class="form-label">Volume (V)</label>
                            <div class="row">
                                <div class="col-auto">
                                    <input id="volume" th:field="*{volume}" class="form-control"
                                           th:classappend="${#fields.hasErrors('${concentrationEquation.volume}') ? 'is-invalid' : ''}"
                                           aria-describedby="volume-hint" oninput="inputHandler('volume')">
                                </div>
                                <div class="col-auto">
                                    <button class="btn btn-outline-secondary dropdown-toggle" type="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">Dropdown
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li><a class="dropdown-item" href="#">cm^3</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="#">dcm^-3</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="#">thing</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col"> <!-- Right column -->
            <!-- New card for the smaller content -->
            <div class="card shadow-lg small-card">
                <div class="card-body">
                    <p>
                        C = M/V
                        c: This represents the concentration of the solution and is measured in units such as moles per
                        liter (mol/L) or grams per liter (g/L), depending on the context.

                        m: This stands for the mass of the solute, which is the substance being dissolved in the
                        solution. The unit for mass can be grams (g) or any other appropriate unit of mass.

                        v: This represents the volume of the solution and is measured in liters (L) or any other suitable
                        unit of volume.

                        To use the concentration equation, you need to ensure that the units of mass (m) and volume (v)
                        are consistent.
                    </p>
                </div>
            </div>

            <!-- New card for the interactive rows -->
            <div class="card mt-3">
                <div class="card-body">
                    <h4>Other Calculators</h4>
                    <div class="interactive-row" onclick="navigateToCalculator('row1')">Row 1 - Calculator 1</div>
                    <div class="interactive-row" onclick="navigateToCalculator('row2')">Row 2 - Calculator 2</div>
                    <div class="interactive-row" onclick="navigateToCalculator('row3')">Row 3 - Calculator 3</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script th:src="@{/script/index.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    function inputHandler(id) {
        var input = document.getElementById(id).value;

        // Make an AJAX request to the server-side endpoint
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            // when we get a response from the controller
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    // update the form to reflect the changed values
                    document.getElementById('form-concentration-equation').innerHTML = xhr.responseText;
                    console.log("[Concentration Equation] Info: Successful update.")
                } else {
                    console.error('[Concentration Equation] Error:', xhr.status, xhr.statusText);
                }
            }
        };

        // trigger our update method in the controller
        xhr.open('PUT', '/concentration-equation?attribute=' + id + '&newValue=' + encodeURI(input), true);
        xhr.send();
    }

    function navigateToCalculator(row) {
        // Add your logic to navigate to the respective calculator based on the row clicked
        console.log('Navigate to Calculator:', row);
    }

    /*]]>*/
</script>
</body>
</html>