<!doctype html>
<!-- source: https://getbootstrap.com/docs/5.0/getting-started/introduction/ -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Concentration Equation</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link th:href="@{/style/style-sheet.css}" rel="stylesheet"></link>
    <!-- Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap" rel="stylesheet">
    <style> 
        body {
          background-color: rgb(34, 112, 148);
          font-family: 'Courier Prime', monospace;
        }
    </style> <!-- Temporary stylesheet replacement since, line-11 aint working... -->
  </head>
  <body>
    <div class="container-fluid">
      <!-- <h3> Concentration Equation </h3> -->
      <div class="row p-5">
        <div class="col"> <!-- left column -->
           <!-- https://getbootstrap.com/docs/5.3/layout/grid/#example -->
          <div class="card shadow-lg">
              <div class="card-body">
                  <form action="#" th:action="@{/concentration-equation}" method="POST" th:object="${concentrationEquation}">
                    <input id="is-empty" th:field="*{isEmpty}" type="text" hidden/>
                    <div class="mb-3">
                      <label for="concentration" class="form-label">Concentration (C)</label>
                      <div class="row">
                        <div class="col-auto">
                          <input id="concentration" th:field="*{concentration}" type="number" class="form-control" aria-describedby="concentration-hint">
                        </div>
                        <div class="col-auto">
                          <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</button>
                          <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="#">cm^3</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">dcm^-3</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">thing</a></li>
                            <li><hr class="dropdown-divider"></li>
                          </ul>
                        </div>
                      </div>
                      
                    </div>
                   <div class="mb-3">
                      <label for="Moles" class="form-label">Moles (M)</label>
                      <div class="row">
                        <div class="col-auto">
                          <input id="Moles" th:field="*{Moles}" class="form-control" th:classappend="${#fields.hasErrors('${concentrationEquation.moles}') ? 'is-invalid' : ''}" aria-describedby="Moles-hint">
                        </div>
                        <div class="col-auto">
                          <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</button>
                          <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="#">cm^3</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">dcm^-3</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">thing</a></li>
                            <li><hr class="dropdown-divider"></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                   <div class="mb-3">
                      <label for="volume" class="form-label">Volume (V)</label>
                      <div class="row">
                        <div class="col-auto">
                          <input id="volume" th:field="*{volume}" class="form-control" th:classappend="${#fields.hasErrors('${concentrationEquation.volume}') ? 'is-invalid' : ''}" aria-describedby="volume-hint">
                        </div>
                        <div class="col-auto">
                          <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</button>
                          <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="#">cm^3</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">dcm^-3</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">thing</a></li>
                            <li><hr class="dropdown-divider"></li>
                          </ul>
                        </div>
                      </div>                                  
                    </div>  
                    <button type="submit" class="btn btn-primary">Submit</button>               
                  </form>
              </div>
          </div>
        </div>
        <div class="col"> <!-- Right column -->
          <div class="card shadow-lg">
            <div class="card-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque id magna id dolor tempus tincidunt. Mauris eget blandit elit. Vivamus scelerisque, purus quis egestas placerat, felis justo faucibus ipsum, sit amet iaculis leo orci sed nisl. Pellentesque tempor mattis ultrices. Nunc tempor diam libero. Curabitur suscipit dapibus justo id eleifend. Donec scelerisque orci turpis, placerat semper purus elementum sed. Nullam turpis eros, venenatis bibendum accumsan ac, aliquet vel neque. Vivamus aliquam tempor metus, in lobortis magna sollicitudin quis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam eu congue orci, non pharetra dolor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Maecenas in consectetur orci, id semper metus.
               Etiam a laoreet lectus, euismod malesuada leo. Vivamus congue purus eu dolor luctus eleifend. Aliquam condimentum pulvinar mi vitae varius. Nam eget porta mauris, a laoreet nulla. Cras efficitur in libero eget aliquam. Curabitur eget ex consequat, tempus nunc ac, accumsan nulla. Phasellus sagittis lorem nec mi maximus, quis vulputate lectus bibendum. Etiam ullamcorper leo quam, vitae tempor ipsum tincidunt ac.</p>
            </div>
          </div>
        </div>
      </div>
    </div> 
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script th:src="@{/script/index.js}"></script>
  </body>
</html>